doctype html
html
  head
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/index.css")
  body
    .container(align='center')
      .alert.alert-success 恭喜，网站正常
      .alert.alert-info 当前时间：#{time} 
  